<?php

declare(strict_types=1);

namespace League\MimeTypeDetection;

class ExtensionToMimeTypeMapClass implements ExtensionToMimeTypeMap
{
    /**
     * @var string[]
     * @internal
     */
    public const MIME_TYPES_FOR_EXTENSIONS = [];

    public function lookupMimeType(string $extension): ?string
    {
        return self::MIME_TYPES_FOR_EXTENSIONS[$extension] ?? null;
    }
}
